<form
  [formGroup]="feedbackForm"
  class="feedback-form"
  (ngSubmit)="submitForm()">
  <legend class="feedback-form--title">Tell us what you think</legend>

  <!-- Name FeedbackFormControl -->
  @if (feedbackForm.get(FeedbackFormKeys.name)?.touched) {
    <span class="feedback-form--error-message">
      @if (feedbackForm.get(FeedbackFormKeys.name)?.hasError('required')) {
        Required field
      } @else if (feedbackForm.get(FeedbackFormKeys.name)?.hasError('minlength')) {
        Minimum 3 letters name length
      }
    </span>
  }
  <input
    class="feedback-form--control"
    formControlName="name"
    placeholder="Name"
    type="text" />

  <!-- Email FeedbackFormControl -->
  @if (feedbackForm.get(FeedbackFormKeys.email)?.touched) {
    <span class="feedback-form--error-message">
      @if (feedbackForm.get(FeedbackFormKeys.email)?.hasError('required')) {
        Required field
      } @else if (feedbackForm.get(FeedbackFormKeys.email)?.hasError('email')) {
        Invalid email address
      } @else if (feedbackForm.hasError('emailsNotMatch')) {
        Emails not match
      }
    </span>
  }
  <input
    class="feedback-form--control"
    formControlName="email"
    placeholder="Email"
    type="email"
    [class.not-match]="feedbackForm.hasError('emailsNotMatch')" />

  <!-- EmailConfirmation FeedbackFormControl -->
  @if (feedbackForm.get(FeedbackFormKeys.emailConfirmation)?.touched) {
    <span class="feedback-form--error-message">
      @if (feedbackForm.get(FeedbackFormKeys.emailConfirmation)?.hasError('required')) {
        Required field
      } @else if (feedbackForm.get(FeedbackFormKeys.emailConfirmation)?.hasError('email')) {
        Invalid email address
      } @else if (feedbackForm.hasError('emailsNotMatch')) {
        Emails not match
      }
    </span>
  }
  <input
    class="feedback-form--control"
    formControlName="emailConfirmation"
    placeholder="Confirm your email"
    type="password"
    [class.not-match]="feedbackForm.hasError('emailsNotMatch')" />

  <!-- Rating FeedbackFormControl -->
  <app-rating-control formControlName="rating" />

  <!-- Comment FeedbackFormControl -->
  <textarea
    class="feedback-form--control"
    formControlName="comment"
    placeholder="Сomment text">
  </textarea>

  <!-- Extra controls array -->
  <div formArrayName="extraControls">
    <div class="feedback-form--extra-controls--title">Extra fields</div>
    @for (extraControl of extraControls.controls; track $index; let i = $index) {
      <input
        id="extra-control-{{ i }}"
        class="feedback-form--control"
        type="text"
        [formControlName]="i"
      />
    }
    
    <button
      class="button feedback-form--extra-controls--add-input"
      type="button"
      (click)="addExtraControl()">
        Add extra field
    </button>
  </div>  

  <button
    class="button feedback-form--reset"
    type="button"
    (click)="resetForm()">
      Clean the form
  </button>
</form>
