<form
  [formGroup]="feedbackForm"
  class="feedback-form"
  (ngSubmit)="submitForm()">
  <legend class="feedback-form--title">Tell us what you think</legend>

  <!-- Name form field -->
  @let name = feedbackForm.get(FeedbackFormKeys.name);

  @if (name?.touched && name?.invalid) {
    <span class="feedback-form--error-message">
      @if (name?.hasError('required')) {
        Required field
      } @else if (name?.hasError('minlength')) {
        Minimum 3 letters name length
      }
    </span>
  }
  <div class="feedback-form--control-container" [class.required]="!!name?.invalid">
    <input
      class="feedback-form--control"
      [formControlName]="FeedbackFormKeys.name"
      placeholder="Name"
      type="text"
    />
  </div>

  <!-- Email form field -->
  @let email = feedbackForm.get(FeedbackFormKeys.email);

  @if (email?.touched && email?.invalid) {
    <span class="feedback-form--error-message">
      @if (email?.hasError('required')) {
        Required field
      } @else if (email?.hasError('email')) {
        Invalid email address
      }
    </span>
  }
  <div class="feedback-form--control-container" [class.required]="!!email?.invalid">
    <input
      class="feedback-form--control"
      [formControlName]="FeedbackFormKeys.email"
      placeholder="Email"
      type="email"
    />
  </div>

  <!-- EmailConfirmation form field -->
  @let emailConfirmation = feedbackForm.get(FeedbackFormKeys.emailConfirmation);

  @if (emailConfirmation?.touched && emailConfirmation?.invalid) {
    <span class="feedback-form--error-message">
      @if (emailConfirmation?.hasError('required')) {
        Required field
      } @else if (emailConfirmation?.hasError('email')) {
        Invalid email address
      }
    </span>
  } @else if (feedbackForm.hasError('emailsNotMatch')) {
    <span class="feedback-form--error-message">
      Emails not match
    </span>
  }
  <div class="feedback-form--control-container" [class.required]="!!emailConfirmation?.invalid">
    <input
      class="feedback-form--control"
      [formControlName]="FeedbackFormKeys.emailConfirmation"
      placeholder="Confirm your email"
      type="email"
      [class.not-match]="feedbackForm.hasError('emailsNotMatch')"
    />
  </div>

  <!-- Rating form field -->
  <div
    class="feedback-form--control-container rating"
    [class.required]="!!feedbackForm.get(FeedbackFormKeys.rating)?.invalid"
  >
    <app-rating-control
      [formControlName]="FeedbackFormKeys.rating"
    />
  </div>

  <!-- Comment form field -->
  <textarea
    class="feedback-form--control"
    [formControlName]="FeedbackFormKeys.comment"
    placeholder="Comment text">
  </textarea>

  <!-- Extra controls array -->
  <div class="feedback-form--extra-controls" formArrayName="extraControls">
    <div class="feedback-form--extra-controls--title">Extra fields</div>
    @for (extraControl of extraControls.controls; track $index; let i = $index) {
      <input
        id="extra-control-{{ i }}"
        class="feedback-form--control"
        type="text"
        [formControlName]="i"
      />
    }
    @let extraControlsArr = feedbackForm.get(FeedbackFormKeys.extraControls);
    <button
      class="button feedback-form--extra-controls--add-input"
      [class.disabled]="extraControlsArr?.hasError('lastExtraControlNotFilled') || extraControlsArr?.hasError('maxlength')"
      type="button"
      [disabled]="extraControlsArr?.hasError('lastExtraControlNotFilled') || extraControlsArr?.hasError('maxlength')"
      (click)="addExtraControl()">
      Add extra field
    </button>
    <span class="feedback-form--error-message">
      @if (extraControlsArr?.hasError('lastExtraControlNotFilled')) {
        Fill the field to add more fields
      }
      @else if (extraControlsArr?.hasError('maxlength')) {
        The limit of extra fields is reached
      }
    </span>
  </div>  

  <button
    class="button feedback-form--reset"
    type="button"
    (click)="resetForm()">
      Clean the form
  </button>
</form>
