<nav>
  <ul>
    <li>
      <a class="sidenav--item" href="">Control Value Accessor</a>
      <ul>
        <li>
          <a
            class="sidenav--item--link"
            href="https://github.com/sasha-si/angular-challenges/tree/master/src/app/challenges/41-control-value-accessor"
            target="_blank">
            Code in GitHub
          </a>
        </li>
        <li>
          <a
            class="sidenav--item--link"
            href="https://angular-challenges.vercel.app/challenges/forms/41-control-value-accessor/"
            target="_blank">
            The challenge description itself
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>